.upgrade_button { background: #ffcf4d; border: 0; padding: 8px; color: #cb0005; font-size: 16px; border-radius: 3px; }
.upgrade_button:hover { background: #ffcf4d; color: #cb0005 !important; }
.upgrade_button_red { background: #d10303; border: 1px solid #d10303 ; padding: 5px 15px 8px 15px; color: #fff; font-size: 16px; border-radius: 3px; cursor:pointer}
.upgrade_button_red .h2 {font-size: 18px;}
.upgrade_button_red .h5 {font-size: 12px;}
.upgrade_button_red:hover { background: #fff; color: #d10303 !important; }
.upgrade_hostinger { text-align: center; }
#main_content h1 { }
#main_content .col-lg-6 { width: 50%; padding 20px; display: inline-block;}
#main_content .col-lg-8 { width: 80%; padding 20px; display: inline-block; }
#main_content .col-lg-4 { width: 20%; padding 20px; display: inline-block; }
#main_content ul { margin-left: 20px; }
#main_content ul li { list-style-type: square; margin-bottom: 0; color: #000; font-size: 14px; }
#main_content a { text-decoration: none; }
.notice_content li { margin-bottom: 10px !important; }
.upgrade_hostinger1 { margin: 20px auto 10px; }
#main_content { padding-bottom: 10px; padding-top: 5px; }
#main_content > p { font-weight: bold; }
#main_content .hlogo { height: 50px;    float: right;    margin: 40px 20px 30px 30px; }
#main_content ul li .pro ::after { color: red; content: "*"; }
#main_content ul li .free ::after { color: green; content: "^" }
